<div id='articles' class='jumbotron mt-3 mb-5 w-75 bg-white rounded col-md-6'>
  {{each dbArticles}}
  <div class='mt-2 mb-4 border-bottom border-thickness'>
    <h2 id{{_id}}>{{title}}</h2>
    <h3>By {{author}} </h3>
    <p>{{summary}}</p>
    <button type='button' class='btn btn-primary btn-sm mb-4'><a href={{article_url}} class='text-light' target='_blank'></a></button>
    <button id='note-btn' data-id={{_id}} type='button' class='btn btn-primary btn-sm mb-4 shadow'>Add Comment</button>
    {{#if saved}}
    <button id='unsaved-btn' data-id={{_id}} type='button' class='btn btn danger btn-sm mb-4 shadow'>Unsave Article</button>
    {{else}}
    <button id='save-btn' data-id={{_id}} type='button' class='btn btn-danger btn-sm mb-4 shadow'>Delete</button>
    {{/if}}
  </div>
  {{else}}
  <h3>Click 'Scrape Articles' button to view articles</h3>
  </br>
  <p class='text-center'>All articles</p>
  {{/each}}
</div>